<div class="show-body">
  <div class="container min-vh-100">

    <h1 id="booking-title" class="text-center pb-5 title-index"> My Bookings</h1>

    <div class="row">
      <div class="cards col-7 row">
        <% @bookings.order(:begin_at).each do |booking| %>
          <div class="card col-11 book-card">
            <div class="card-body">
              <h4 class="card-title">Booking details</h4>
              <p class="card-text1 color-ocean"><strong><%= booking.pack.school.name %></strong> - <%= booking.pack.school.address %></p>
              <p class="card-text1 color-ocean"> <strong>Date :</strong> <%= booking.begin_at.strftime("%B %d, %Y") %> to <%= booking.end_at.strftime("%B %d, %Y") %></p>
              <p class="card-text color-ocean"><strong> Pack : </strong><%= booking.pack.description %></p>
              <p class="card-text color-ocean"><strong>Number of persons : </strong> <%= booking.quantity %> </p>
              <p class="card-text1 color-ocean"> <strong>Total Price : </strong><% number_of_days = (booking.end_at - booking.begin_at).to_i %><%= number_of_days * booking.pack.price * booking.quantity %> € </p>
              <p class="card-text color-ocean"><strong>School Number : </strong><%= booking.pack.school.phone_number %></p>
              <p class="card-text color-ocean"> This reservation is <strong> <%= booking.progress %></strong>.</p>
              <%= link_to "Add a review", new_booking_review_path(booking) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="booking-img col-5">
      </div>
    </div>
  </div>
</div>




