<div class="form min-vh-100">
  <div class = "col-sm-6" id="formulaire">
    <h2 class="title-index">Create your reservation</h2>
    <%= simple_form_for [@school, @booking] do |f| %>

    <div class="form-inputs">
      <%= f.input :pack_id, collection: @school.packs, as: :radio_buttons %>
      <%= f.input :quantity, label: "Number of persons", collection: 1..8 %>
      <%= f.input :begin_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_at, as: :string, required: false, input_html: {class: "datepicker"} %>
    </div>
    <div class="choice-btn">
      <%= f.button :submit, class: "btn btn-gradient btn-ocean" %>
      <%= link_to 'Back', school_path(@school), class: "btn btn-gradient" %>
    <% end %>
  </div>
</div>
