<div class="banner" style="background-image: linear-gradient(rgba(0,59,70,0.4),rgba(0,59,70,0.4)), url(<%= asset_path 'background-home.jpg' %>)"">

  <div class="avatar-img">
  <%= link_to new_user_session_path, class: "navbar-brand pull-right" do %>
    <%= image_tag "avatar-login.png"%>
    <% end %>
</div>

<div class="container-home">
  <div class="banner-text">
    <h1><strong>SURFINDER</strong></h1>
    <p><i>Find the school that suits you.</i></p>
  </div>
  <div class = "container" id="input-home">
    <%= simple_form_for :search, url: schools_path, method: :get do |f| %>
    <div class="d-flex justify-content-center">
      <%= f.input :location, label: false  %>
      <div class="input-group-append">
        <%= f.submit :Search%>
        <%= link_to '<button class="btn btn-secondary" type="button">All schools</button>'.html_safe, schools_path %>
            <% end %>
      </div>
    </div>
  </div>
</div>
