<div class="row">
  <div class=col-7>
    <div class="row">
      <% @schools.each do |school| %>
      <div class="flip">
        <div class="front" style="background-image: url('<%= cl_image_path school.main_photo %>')">
          <h1 class="text-shadow"><%=school.name%></hi>
          </div>
          <div class="back">
            <div class = "level-card">
              <p id="level"> Level:</p>
            <h4 class= "level"> <% level = school.level %>
             <% level.times do %>
             <%= image_tag "ShakaMikl.png", class: "shaka-icon" %>
             <% end %>
           </div>

           <p><%=school.address%></p>





           <%= link_to '<button class="btn btn btn-gradient btn-ocean" id="btn-card" type="button">More infos...</button>'.html_safe, school_path(school) %>
         </div>
       </div>
       <% end %>
     </div>
   </div>

   <div class="col-5" id="map" data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>


