<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= "SURFINDEЯ" %></title>
    <meta name="description" content="<%= "Find the school that suits you" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Surfinder vous aide à trouver le meilleur spot pour aller Surfer... Shaka !!!!"  />
    <%= favicon_link_tag %>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300&display=swap" rel="stylesheet">
    <title>SURFINDEЯ</title>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class = "page-site">
    <%= render 'shared/navbar'%>
    <%= render 'shared/flashes'%>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    </div>
    <%= render 'shared/footer'%>
  </body>
</html>
